@import "./_settings";

@import "./app_editImage/style.scss"; //css app edit image
@import "./app_nasa/style.scss";
@import "./profil";


a {
    text-decoration: none;
    color: inherit;
}

.space {
    height: 500px;
}

.header {
    display: flex;
    justify-content: center;
    color: white;
    
    nav {
        display: flex;
        justify-content: center;
        backdrop-filter: blur(10px);
        background: rgba(21, 85, 174, 0.582);
        position: fixed;
        z-index: 30;
        bottom: 5px;
        padding: 5px 30px;
        border-radius: 70px;
        border: 1px solid rgb(255, 231, 191);

        transition: all 0.3s;
        transform: translateY(60px);

        &:hover {
            transform: translateY(0);
            background: rgba(11, 53, 112, 0.777);

        }
    }

    a {
        margin: 20px;
    }

    i {
        font-size: 2em;
        padding-bottom: 5px;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
    }

    p:first-of-type {
        font-size: 1.1em;
    }

    & .lien {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: 130px;

        &--actif {
            color: rgb(39, 255, 255);
        }

        &:hover {
            cursor: pointer;
            color: rgb(105, 185, 255);
        }
    }
}

@media screen and (max-width: 700px) {
    .header {
        font-size: 0.7em;

        nav {
            transform: translate(0);
            padding: 3px 10px;
        }
        p:first-of-type {
            font-size: 0.9em;
        }

        p:last-of-type {
            display: none;
        }

        & .lien {
            width: 45px;
            margin: 5px 7px;
        }
    }
}


.footer {
    height: 170px;
    background: $green;
    background: rgba(13, 102, 103, 0.63);
    margin-top: 50px;
    border-top: 2px solid $orange;
    color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    a {
        margin: 15px;
        font-size: 1.1em;
        &:hover {
            color: $orange;
        }
    }

    h3 {
        font-size: 1.7em;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 700px) {
    .footer {
        font-size: 0.8em;
    }
}